@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #223AAD;
  --color-dark: #34425A;
  --text-gray--: #B0B0B0
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

nav img {
  width: 80px;
  cursor: pointer;
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-close {
  display: none;
}

nav .navigation {
  display: flex;
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li {
 list-style: none;
 margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
 }

nav .navigation ul li a:hover,
nav .navigation ul li a.active {
  color: #D73953;
}

.auth-buttons {
  display: flex;
  margin-left: 30px;
}

.auth-buttons a {
  text-decoration: none;
  color: white;
  background-color: #D73953;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.auth-buttons a:hover {
  background-color: #A62D3D;
}


/* Home */
#home {
  background-image: linear-gradient(rgba(9, 5, 52, 0.3), rgba(5, 4, 46, 0.7)), url("images/back.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#home p {
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  line-height: 25px;
}

#home .btn {
  margin-top: 30px;
}

#home a {
  text-decoration: none;
  padding: 13px 35px ;
  font-size: 0.9rem;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

#home a.blue {
  color: #fff;
  background: #D73953;
  transition: 0.3s ease;
}

#home a.blue:hover {
  color: #D73953;
  background: #fff;
}

#home a.yellow {
  color: #fff;
  background: #fdc93b;
  transition: 0.3s ease;
}

#home a.yellow:hover {
  color: #fdc93b;
  background: #fff;
}


/* features */
#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#features .fea-box {
  background: #F9F9FF;
  text-align: start;
  padding: 2rem;
}

#features .fea-box i {
  font-size: 2.3rem;
  color: #D73953;
}

#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(49, 49, 59);
  padding: 13px 0 7px 0;
}

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}

/* course */

#course {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#course .courses {
  text-align: start;
  background: #F9F9FF;
  height: 100%;
}

#course .courses img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}

#course .courses .details {
  padding: 15px 15px 0 15px;
}

#course .courses .details i {
  color: #FDC93B;
  font-size: 0.9rem;
}


/* registration */
#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),
  url("images/signup.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registration .reminder {
  color: #fff;
}

#registration .reminder h1 {
  color: #fff;
}

#registration .reminder .time {
  display: flex;
  margin-top: 40px;
}

#registration .reminder .time .date {
  text-align: center;
  padding: 13px 33px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight: 600;
}

#registration .form {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
}

#registration .form a.yellow {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background: #D73953;
  transition: 0.3s ease;
}

#registration .form a.yellow:hover {
  color: #D73953;
  background: #fff;
}

#registration .form .btn {
  margin-top: 30px;
}

/* experts */

#experts {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#experts .expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#experts .expert-box .profile {
  background: #fafaf1;
  padding: 30px 10px;
}

.pro-links {
  margin-top: 10px;
}

.pro-links i {
  padding: 10px 13px;
  border: 1px solid #D73953;
  cursor: pointer;
  border-radius: 5px;
  color: #0c141d;
}

.pro-links i:hover {
  background: #D73953;
  color: #fff;
  border: 1px solid #D73953;
  cursor: pointer;
}

/* footer */

.footer .row{
	display: flex;
	flex-wrap: wrap;
}
.footer .ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/

@media(max-width: 769px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* About */

#about-home {
  background-image: linear-gradient(rgba(9, 5, 52, 0.3), rgba(5, 4, 46, 0.7)), url("images/back1.jpg");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#about-home h2 {
  letter-spacing: 1px;
  color: #fff;
  font-size: 2.2rem;
}

#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
  width: 60%;
  padding-right: 60px;
}

#about-container .about-img img {
  width: 100%;
}

#about-container .about-text {
  width: 40%;
}

#about-container .about-text h1 {
  color: #29303B;
  padding-bottom: 15px;
}

#about-container .about-text p {
  color: #676F7A;
  font-weight: 300;
}

#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

#about-container .about-text .about-fe img {
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
  width: 90%;
}

#about-container .about-text .about-fe .fe-text h5 {
  font-size: 16px;
  color: #29303B;
}

#trust {
  text-align: center;
  padding: 8vw;
}

#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trust .trust-img  img {
  width: 90px;
  height: auto;
}

/* Course_inner */

#course-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}

#course-inner .overview {
  width: 70%;
}

#course-inner h3 {
  padding: 35px 0 25px 0;
  color: #29303B;
}

#course-inner p {
  color: #64626e;
}


#course-inner hr {
  height: 1px;
  background: rgba( 236, 226, 229, 0.5);
  margin-top: 40px;
}

#course-inner .overview .course-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

#course-inner .overview .course-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#course-inner .overview .course-head .c-name {
  width: 70%;
}

#course-inner .overview .course-head .c-name h2 {
  color: #29303B;
}

#course-inner .overview .course-head .c-name .star {
  margin: 6px 0;
}

#course-inner .overview .course-head .c-name .star i {
  color: #FDC93B;
  font-size: 0.9rem;
}

#course-inner .overview .course-head .c-name p {
  font-size: 15px;
}

#course-inner .learn p {
  font-size: 16px;
  padding-bottom: 16px;
}

#course-inner .courses-btn {
  padding: 25px 0 20px 0;
  margin: auto;
  text-align: start;
}

#course-inner .courses-btn a {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background: #D73953;
}

#course-inner .learn p i {
  color:  #D73953;
  font-weight: 700;
  margin-right: 20px;
}

#course-inner .tutor {
  display: flex;
}

#course-inner .tutor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

#course-inner .tutor h5 {
  font-size: 15px;
}

#course-inner .enroll {
  width: 300px;
  padding: 0 30px 30px 30px;
  border-radius: 11px;
  box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

#course-inner .enroll h3 {
  padding-bottom: 10px;
}

#course-inner .enroll p {
  font-size: 15px;
  color: #64626e;
  margin: 15px 0;
}

#course-inner .enroll p i {
  color: #64626e;
  font-weight: 500;
  margin-right: 18px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

#course-inner .enroll .enroll-btn {
  padding: 25px 0 20px 0;
  margin: auto;
  text-align: center;
}

#course-inner .enroll .enroll-btn a {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background: #D73953;
}

/* contact */

#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#contact .getin {
  width: 350px;
}

#contact .getin h2 {
  color: #2c234d;
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
}

#contact .getin p {
  color: #686875;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3 {
  color: #2c234d;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
}

#contact .getin .getin-details div {
  display: flex;
}

#contact .getin .getin-details div .get {
  font-size: 16px;
  line-height: 22px;
  color: #D73953;
  margin-right: 20px;
}

#contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i {
  margin-right: 8px;
}

#contact .form {
  width: 60%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
}

#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
}

#contact .form p {
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;
}

#contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 11px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-col textarea,
#contact .form .form-col input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 11px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: #D73953;
  border-radius: 7px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}

.wrapper {
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  max-width: 1200px;
}

.wrapper .title {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 25px 35px;
}

.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #D73953;
}

form .row input::placeholder {
  color: #999;
}

.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #fff;
  font-size: 22px;
  background: #D73953;;
  border: 1px solid #D73953;;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin-top: 12px;
}

.wrapper form .pass a {
  color: #D73953;
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .button input {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #D73953;
  border: 1px solid #D73953;
  cursor: pointer;
}

.wrapper .log {
  margin-top: 20px;
  color: #D73953;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  cursor: pointer;
}

form .button input:hover {
  background: #D73953;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color: #D73953;
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}

/* dashboard */

#menu-toggle {
  display: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 165px;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background: var(--color-dark);
  transition: left 300ms;
}

.side-header {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-header h3, side-head span {
  color: #D73953;
  font-weight: 600;
}

.side-content {
  height: calc(100vh - 60px);
  overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
.side-content::-webkit-scrollbar-thumb {
background: #b0b0b0; 
border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}

.profile {
  text-align: center;
  padding: 2rem 0rem;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-size: cover;
}

.profile-img {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 0 auto .5rem auto;
  border: 3px solid #899DC1;
}

.profile h4 {
  color: #fff;
  font-weight: 500;
}

.profile small {
  color: #899DC1;
  font-weight: 600;
}

.sidebar {
  overflow-y: auto;
}

.side-menu ul {
  text-align: center;
}

.side-menu a {
  display: block;
  padding: 1.2rem 0rem;
}

.side-menu a.active {
  background: #2B384E;
}

.side-menu a.active span, .side-menu a.active small {
  color: #fff;
}

.side-menu a span {
  display: block;
  text-align: center;
  font-size: 1.7rem;
}

.side-menu a span, .side-menu a small {
  color: #899DC1;
}

#menu-toggle:checked ~ .sidebar {
  width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
  display: none;
}

#menu-toggle:checked ~ .main-content {
  margin-left: 60px;
  width: calc(100% - 60px);
}

#menu-toggle:checked ~ .main-content header {
  left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
  display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
  font-size: 1.3rem;
}


.main-content {
  margin-left: 165px;
  width: calc(100% - 165px);
  transition: margin-left 300ms;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  left: 165px;
  z-index: 100;
  height: 60px;
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
  background: #fff;
  transition: left 300ms;
}

.header-content, .header-menu {
  display: flex;
  align-items: center;
}

.header-content {
  justify-content: space-between;
  padding: 0rem 1rem;
}

.header-content label:first-child span {
  font-size: 1.3rem;
}

.header-content label {
  cursor: pointer;
}

.header-menu {
  justify-content: flex-end;
  padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
  margin-right: 2rem;
  position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
  font-size: 1.3rem;
}

.notify-icon span:last-child {
  position: absolute;
  background: var(--main-color);
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -5px;
  top: -5px;
  color: #fff;
  font-size: .8rem;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
}

.user div, .client-img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.user span:last-child {
  display: inline-block;
  margin-left: .3rem;
  font-size: .8rem;
}

main {
  margin-top: 60px;
}

.page-header {
  padding: 1.3rem 1rem;
  background: #E9edf2;
  border-bottom: 1px solid #dee2e8;
}

.page-header h1, .page-header small {
  color: #74767d;
}

.page-content {
  padding: 1.3rem 1rem;
  background: #f1f4f9;
}

.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-head h2 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

.card-head span {
  font-size: 3.2rem;
  color: var(--text-grey);
}

.card-progress small {
  color: #777;
  font-size: .8rem;
  font-weight: 600;
}

.card-indicator {
  margin: .7rem 0rem;
  height: 10px;
  border-radius: 4px;
  background: #e9edf2;
  overflow: hidden;
}

.indicator {
  height: 10px;
  border-radius: 4px;
}

.indicator.one {
  background: #22baa0;
}

.indicator.two {
  background: #11a8c3;
}

.indicator.three {
  background: #f6d433;
}

.indicator.four {
  background: #f25656;
}

.records {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
  background: #fff;
  border-radius: 3px;
}

.record-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add, .browse {
  display: flex;
  align-items: center;
}

.add span {
  display: inline-block;
  margin-right: .6rem;
  font-size: .9rem;
  color: #666;
}

input, button, select {
  outline: none;
}

.add button {
  background: var(--main-color);
  color: #fff;
  height: 37px;
  border-radius: 4px;
  padding: 0rem 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.browse input {
  width: 150px;
}

.browse select {
  width: 100px;
}

.table-responsive {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

table thead tr {
  background: #e9edf2;
}

table thead th {
  padding: 1rem 0rem;
  text-align: left;
  color: #444;
  font-size: .9rem;
}

table thead th:first-child {
  padding-left: 1rem;
}

table tbody td {
  padding: 1rem 0rem;
  color: #444;
}

table tbody td:first-child {
  padding-left: 1rem;
  color: var(--main-color);
  font-weight: 600;
  font-size: .9rem;
}

table tbody tr {
  border-bottom: 1px solid #dee2e8;
}

.client {
  display: flex;
  align-items: center;
}

.client-img {
  margin-right: .5rem;
  border: 2px solid #b0b0b0;
  height: 45px;
  width: 45px;
}

.client-info h4 {
  color: #555;
  font-size: .95rem;
}

.client-info small {
  color: #777;
}

.actions span {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: .5rem;
}

.paid {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  color: var(--main-color);
  background: #e5f8ed;
  padding: .5rem 1rem;
  border-radius: 20px;
  font-size: .8rem;
}

@media only screen and (max-width: 1200px) {
  .analytics {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .analytics {
      grid-template-columns: 100%;
  }
  
  .sidebar {
      left: -165px;
      z-index: 90;
  }
  
  header {
      left: 0;
      width: 100%;
  }
  
  .main-content {
      margin-left: 0;
      width: 100%;
  }
  
  #menu-toggle:checked ~ .sidebar {
      left: 0;
  }
  
  #menu-toggle:checked ~ .sidebar {
      width: 165px;
  }

  #menu-toggle:checked ~ .sidebar .side-header span {
      display: inline-block;
  }

  #menu-toggle:checked ~ .sidebar .profile,
  #menu-toggle:checked ~ .sidebar .side-menu a small {
      display: block;
  }

  #menu-toggle:checked ~ .sidebar .side-menu a span {
      font-size: 1.7rem;
  }
  
  #menu-toggle:checked ~ .main-content header {
      left: 0px;
  }
  
  table {
      width: 900px;
  }
}

/* responsive */

@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }

  nav img {
    width: 130px;
  }

  #menu-btn {
    display: initial;
    margin-left: 10px;
  }
  
  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }

  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(0.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }

  nav .navigation ul.active {
    right: 0;
  }

  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a {
    color: #fff;
  }

  #home {
    padding-top: 0px;
  }

  #home p {
    width: 90%;
  }

  #features {
    padding:  8vw 4vw 0 4vw;
  }

  #course {
    padding:  8vw 4vw 0 4vw;
  }

  #registration {
    margin-top: 8vw;
    padding:  6vw 4vw 6vw 4vw;
  }

  #experts {
    padding:  8vw 8vw 4vw 8vw;
  }
  
  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  } 

  /* about */

  #about-container {
    display: flex;
    align-items: center;
    padding: 8vw 4vw 2vw 4vw;
  }

  #about-container .about-img {
    padding-right: 30px;
  }

  #trust .trust-img img {
    width: 50px;
    height: auto;
  }

  /* inner */

  #course-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw 4vw;
  }

  #course-inner .overview {
    width: 100%;
  }

  #course-inner .overview .course-img {
    width: 100%;
    height: 100%;
  }

  #course-inner .enroll {
    margin-top: 25px;
  }

  /* contact */

  #contact {
    padding: 8vw 4vw;
  }

  #contact .getin {
    width: 250px;
  }
}

@media (max-width: 475px) {
  #registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #registration .reminder .time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  } 

  /* About */
  #about-container {
    flex-direction: column-reverse;
  }

  #about-container .about-img {
    width: 100%;
    padding-right: 0px;
  }

  #about-container .about-text {
    width: 100%;
    padding-bottom: 20px;
  }

  #trust .trust-img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #trust .trust-img img {
    width: 60px;
    margin: 10px 15px ;
    height: auto;
  }

  #course-inner .overview .course-head .c-name {
    width: 50%;
  }

  #course-inner .overview .course-head .c-name h2 {
    font-size: 22px;
  }

  #course-inner .enroll {
    width: 100%;
  }

  /* contact */

  #contact {
    padding: 8vw 4vw;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
  }

  #contact .getin {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact .form {
    width: 100%;
    padding: 40px 30px;
  }

  #contact .form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  #contact .form .form-row input {
    width: 100%;
  }
}

/* add-faculty */

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: auto; /* Centers horizontally */
  min-height: 80vh; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #D73953, #D73953);
}

form .button a {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* Responsive media query code for mobile devices */
@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
/* Responsive media query code for mobile devices */
@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Modal content styling */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

/* Close button styling */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Close button styling */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Button styling */
.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.confirm-btn {
  background-color: #4CAF50; /* Green */
}

.cancel-btn {
  background-color: #f44336; /* Red */
}